body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff !important;
    margin: 0;
    padding: 0;
}

#principal {
    width: 100%;
    margin: auto;
}

.imagem-topo {
    height: 50px;
    background: #162028;
}

ul {
    margin-left: 280px;
}

li {
    display: block;
    float:left;
    list-style: none;
    font-size: 12px;
    text-transform: uppercase;
    margin: 10px;
    background-color: #000000;
    color: white;
    border: 3px;
    padding: 10px;
    position: relative;
}

h1 {
    margin-top: 350px;
    margin-left: 23px;
}

p {
    text-indent: 15px;
    height: 80%;
    width: 50%;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    color: rgba(0,0,0, .5);
}

.card img {
    width: 100%;
}

.card1 {
    float: left;
    width: 32%;
    margin-right: 2%;
}

.card2 {
    float: left;
    width: 32%;
    margin-right: 2%;
}

.card3 {
    float: left;
    width: 32%;
    margin-right: 0%;
}